# Read pre-commit hook framework https://pre-commit.com/ for more details about the structure of config yaml file and how git pre-commit would invoke each hook.
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
    - id: check-ast
    - id: check-json
    - id: check-merge-conflict
    - id: detect-private-key
- repo: https://github.com/ibm/detect-secrets
# This line indicates we will use the hook from ibm/detect-secrets to run scan during committing phase. - repo: https://github.com/ibm/detect-secrets
# If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
# You are encouraged to use static refs such as tags,instead of branch name
# Running "pre-commit autoupdate" would automatically updates rev to latest tag
  rev: 0.13.1+ibm.56.dss
  hooks:
    - id: detect-secrets # pragma: whitelist secret
    # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
    # You may also run `pre-commit run detect-secrets` to preview the scan result.
 # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
 # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
   args: [--baseline, .secrets.baseline, --use-all-plugins]
# terraform hooks
- repo: https://github.com/gruntwork-io/pre-commit
  rev: v0.1.17
  hooks:
    - id: terraform-fmt
    - id: terraform-validate
    - id: tflint
      args:
        - "--module"
        - "--config=.tflint.hcl"
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.77.0
 hooks:
      - id: terraform_tfsec
# packer hooks
- repo: https://github.com/cisagov/pre-commit-packer
  rev: v0.0.2
  hooks:
    - id: packer_fmt
    - id: packer_validate
# remove carriage return line feed
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.3.1
  hooks:
    - id: remove-crlf
